<h3>Склад: <%= @stock.name %></h3>
<hr>
<div class="well">
  <p>Адресс: <strong><%= @stock.address %></strong></p>
  <p>Баланс: <strong><%= @stock.balance %></strong></p>
  <%#= link_to "Читать далее", stock_path(stock), :class => "btn btn-default" %>
  <hr>
  <h4>Продукты</h4>
  <div class="row">
    <% @stock.products.each do |product| %>
      <div class="col-4">
        <h5><strong><%= product.name %></strong></h5>
        <p>Количество: <strong><%= product.count %></strong></p>
        <p>Цена: <strong><%= product.price %>Р</strong> за 1 шт.</p>
        <span>
          <%= link_to "Перенести", stock_product_move_path(@stock, product), :class => "btn-sm btn-warning" %>
        </span>
        <span>
          <%= link_to "Продать", stock_product_sell_path(@stock, product), :class => "btn-sm btn-danger" %>
        </span>
      </div>
      <!--product-->
    <% end %>
  </div>
</div>
