<h3>Перенести - <%= @product.name %></h3>

<hr>
<h4>Информация</h4>
<div class="row">
  <div class="col-4">
    <p>Товар: <strong><%= @product.name %></strong></p>
    <p>Количество: <strong><%= @product.count %></strong></p>
    <p>Цена: <strong><%= @product.price %>Р</strong> за 1 шт.</p>
  </div>
</div>

<hr>
<div>
  <%= form_for :product, url: stock_product_move_path(@product.stock_id, @product) do |f| %>
    <% if @product.errors.any? %>
      <% @product.errors.full_messages.each do |msg| %>
        <div class="alert alert-danger">
          <%= msg %>
        </div>
      <% end %>
    <% end %>
    <p>
      Сколько товара переносим
      <br>
      <%= f.number_field(:count, {:class => 'form-control'}) %>
    </p>
    <p>
      Склад
      <br>
      <%= f.collection_select(:stock_id, Stock.all, :id, :name, {prompt: "Выбор склада"}, {:class => 'form-control custom-select'}) %>
    </p>
    <p>
      <%= f.submit("Перенести", {:class => 'btn btn-success', :style => 'width: 100%;'}) %>
    </p>
  <% end %>

</div>